<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget-cn" value="https://nuget.azure.cn/v3/index.json" protocolVersion="3" />
    <add key="local-cache" value="D:\LocalCache\nuget\NuGetPackages" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="D:\LocalCache\nuget\NuGetPackages" />
  </config>
</configuration>
